<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">套餐食谱</h2>
                    <h3 class="section-subheading text-muted">每日晚间准时更新</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/9.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 31</h4>
                                    <h4 class="subheading">周五食谱</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted large">猪蹄<br>白斩鸡<br>凉拌章鱼<br>海带豆芽</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/8.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 30</h4>
                                    <h4 class="subheading">周四食谱</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted large">鸡翅<br>炸虾<br>豆腐干<br>包菜</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/7.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 29</h4>
                                    <h4 class="subheading">周三食谱</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted large">红烧凤爪<br>香肠<br>卤牛肉<br>小白菜</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 28</h4>
                                    <h4 class="subheading">周二食谱</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted large">红烧肉<br>五香豆腐丝<br>清炒白萝卜<br>凉拌猪耳朵</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 27</h4>
                                    <h4 class="subheading">周一食谱</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted large">糖醋排骨<br>麻婆豆腐<br>红烧凤爪<br>目鱼干</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/a.png" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
