<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">套餐食谱</h2>
                    <h3 class="section-subheading text-muted">每日晚间准时更新</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/hsr.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 6th</h4>
                                    <h4 class="subheading">周四食谱</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted large">红烧肉<br>糖醋虾<br>炒黄瓜<br>凤爪</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/szt.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 4th</h4>
                                    <h4 class="subheading">周二食谱</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted large">狮子头<br>五香豆腐丝<br>大白菜<br>卤牛肉</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/tcpg.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 3th</h4>
                                    <h4 class="subheading">周一食谱</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted large">糖醋排骨<br>麻婆豆腐<br>盐水虾<br>卤牛肉</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/zt.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 31st</h4>
                                    <h4 class="subheading">周五食谱</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted large">猪蹄<br>白斩鸡<br>凉拌章鱼<br>海带豆芽</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/zx.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 30th</h4>
                                    <h4 class="subheading">周四食谱</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted large">鸡翅<br>炸虾<br>豆腐干<br>包菜</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/a.png" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
