<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">就餐地址</h2>
                    <h3 class="section-subheading text-primary">学生来大众美食就餐，米饭和水一律免费!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="contactInfo">
                                    <h3 class="firstRow">餐厅地址</h3>
                                    <p>Corso Regina Margherita 152<br>10152 Torino
                                    <br>（公交 16 路与 3 路可直达）</p>
                                    <h3 class="secondRow">餐厅电话</h3>
                                    <p>(+39) 339 2042331<br>(+39) 338 8501156</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="google-maps">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2817.357796762115!2d7.678737099999997!3d45.078537100000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47886d755379171f%3A0xee66ceed81f229cb!2sCorso+Regina+Margherita%2C+152%2C+10152+Torino!5e0!3m2!1sen!2sit!4v1414176451421" width="800" height="600" frameborder="0" style="border:0"></iframe>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
